<div class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th><abbr title="Position">STT</abbr></th>
                <th>Tên VPS</th>
                <th><abbr title="local">local</abbr></th>
                <th><abbr title="Description">Description</abbr></th>
                <th><abbr title="CPU">CPU</abbr></th>
                <th><abbr title="memory">memory</abbr></th>
                <th><abbr title="Dick SSD">Dick SSD</abbr></th>
                <th><abbr title="price">Giá (VNĐ)</abbr></th>
                <th><abbr title="price">Số lượng (VPS)</abbr></th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each vps}}
            <tr class="has-text-centered">
                <th>{{sum @index 1}}</th>
                <td>{{this.name}}
                </td>
                <td>{{this.local}}</td>
                <td>{{this.desc}}</td>
                <td>{{this.CPU}}</td>
                <td>{{this.memory}}</td>
                <td>{{this.ssd}}</td>
                <td>{{currency_formatting this.price}}</td>
                <td>{{get_length this.vps}}</td>
                <td>
                    <div class="buttons">
                        <button class="button is-info">
                            <a href="/vps/show-List/{{this._id}}" class="has-text-white">Danh sách ip</a></button>
                        <button class="button is-success">Sửa</button>
                        <button class="button is-danger">
                            <a href="/vps/{{this._id}}/delete" data-toggle="modal" data-target="#delete-vps-modal"
                                data-id="{{this._id}}" class="has-text-white">Xóa</a>
                        </button>
                    </div>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan=" 6" class="text-center">No vps found.
                    <a href="/vps/create" class="font-weight-bolder">Create new vps</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{! confirm delete vps }}

    <div id="delete-vps-modal" class="modal" tabindex="-1">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Xóa</p>
                <button class="delete" aria-label="close"></button>
            </header>

            <section class="modal-card-body">
                <div class="content">
                    <h3>Bạn có chắc chắn xóa dữ liệu này?</h3>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" id="delete-vps-btn">Xóa</button>
                <button class="button">Hủy bỏ</button>
            </footer>
        </div>
    </div>

    {{! delete form hidden }}
    <form method="POST" name="delete-vps-form"></form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var vpsId;
        var deleteForm = document.forms['delete-vps-form'];
        const deleteVPS_btn = document.getElementById('delete-vps-btn');

        // Functions to open and close a modal
        $('#delete-vps-modal').on('show.bs.modal', function (event) {
            var button =
                $(event.relatedTarget);
            vpsId = button.data('id');
        })

        deleteVPS_btn.addEventListener('click', function () {
            deleteForm.action = '/vps/' + vpsId + '?_method=DELETE';
            deleteForm.submit();
        })
    })
</script>